<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Case Study of Movie Website</title>
  <meta name="description" content="Case study page of Project" />

  <link rel="stylesheet" href="../css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header class="header">
    <div class="header__content">
      <div class="header__logo-container">
        <div class="header__logo-img-cont">
          <img src="../assets/jpeg/izan 0.2.jpg" alt="Ram Maheshwari Logo Image" class="header__logo-img" />
        </div>
        <span class="header__logo-sub">Mohammad Izan Ansari</span>
      </div>
      <div class="header__main">
        <ul class="header__links">
          <li class="header__link-wrapper">
            <a href="../index.html" class="header__link"> Home </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#about" class="header__link">About </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#projects" class="header__link">
              Projects
            </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#contact" class="header__link"> Contact </a>
          </li>
        </ul>
        <div class="header__main-ham-menu-cont">
          <img src="../assets/svg/ham-menu.svg" alt="hamburger menu" class="header__main-ham-menu" />
          <img src="./assets/svg/ham-menu-close.svg" alt="hamburger menu close"
            class="header__main-ham-menu-close d-none" />
        </div>
      </div>
    </div>
    <div class="header__sm-menu">
      <div class="header__sm-menu-content">
        <ul class="header__sm-menu-links">
          <li class="header__sm-menu-link">
            <a href="../index.html"> Home </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#about"> About </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#projects"> Projects </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#contact"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Movie Website</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          Utilized API integration to dynamically retrieve data from https://www.omdbapi.com/
          enhancing the
          website with a vast array of movie information.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://subtle-marzipan-b67ea3.netlify.app/" class="btn btn--bg" target="_blank">Live Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="../assets/jpeg/movie 01.jpg" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h3 class="project-details__content-title">Project Overview</h3>
            <p class="project-details__desc-para">
              I successfully implemented API integration to dynamically retrieve comprehensive data from the <strong>Open Movie
              Database (OMDb)</strong> via <a href="https://www.omdbapi.com/" target="_blank">https://www.omdbapi.com/</a>. This integration significantly enhanced the website by
              providing users with an extensive collection of movie information. A prominent feature I incorporated is a
              versatile <strong>search bar</strong> that allows users to explore and find details on any <strong>movie</strong>,
              <strong>series</strong>, or <strong>drama</strong>.
              
              Furthermore, the website boasts a unique feature that allows users to not only view detailed information
              about <strong>movies</strong> but also watch <strong>trailers</strong> directly from the platform. This added functionality enriches the
              user experience by providing a seamless way to preview and explore the content.
            </p>
            
            <p class="project-details__desc-para">
              One of the standout features of the website is its capability to facilitate <strong>movie downloads</strong>. Users can
              conveniently download their favorite <strong>movies</strong> directly from the site, adding a valuable and practical
              dimension to the platform. This ensures that users have the flexibility to enjoy their preferred content
              offline, contributing to a more user-friendly and accessible <strong>movie-watching experience</strong>.
            
              In summary, the implementation of <strong>API integration</strong>, an intuitive <strong>search bar</strong>, <strong>trailer viewing</strong> functionality,
              and the ability to <strong>download movies</strong> collectively make this website a comprehensive and user-centric
              platform for exploring, discovering, and enjoying a vast array of <strong>movies</strong>, <strong>series</strong>, and <strong>dramas</strong>.
            </p>
            
          </div>
          <div class="project-details__tools-used">
            <h3 class="project-details__content-title">Tools Used</h3>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">Advanced JavaScript</div>
              <div class="skills__skill">React</div>
              <div class="skills__skill">SASS</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">API</div>
              <div class="skills__skill">Netlify</div>
              <div class="skills__skill">Aws Server</div>
              <div class="skills__skill">Libaries</div>
              <div class="skills__skill">https://www.omdbapi.com/</div>
            </div>
          </div>
          <div class="project-details__links">
            <h3 class="project-details__content-title">See Live</h3>
            <a href="https://subtle-marzipan-b67ea3.netlify.app/" class="btn btn--med btn--theme project-details__links-btn" target="_blank">Live Link</a>
            <a href="https://github.com/IzanAnsari/Complete-movie" class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">Code Link</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="main-container">
      <div class="main-footer__upper">
        <div class="main-footer__row main-footer__row-1">
          <h2 class="heading heading-sm main-footer__heading-sm">
            <span>Social</span>
          </h2>
          <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/izan-ansari-a25b27254/">
              <img class="main-footer__icon" src="../assets/png/linkedin-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://github.com/IzanAnsari/">
              <img class="main-footer__icon" src="../assets/png/github-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img class="main-footer__icon" src="../assets/png/twitter-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img class="main-footer__icon" src="../assets/png/yt-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://www.instagram.com/izaanstark7/?next=%2F">
              <img class="main-footer__icon main-footer__icon--mr-none" src="../assets/png/insta-ico.png" alt="icon" />
            </a>
          </div>
        </div>
        <div class="main-footer__row main-footer__row-2">
          <h4 class="heading heading-sm text-lt">Mohammad Izan Ansari</h4>
          <p class="main-footer__short-desc">
            As a MERN stack developer, I specialize in creating dynamic and responsive web applications and efficient
            user experiences.
          </p>
        </div>
      </div>
      
    </div>

    <div class="main-footer__lower">
      &copy; Copyright 2021. Made by
      <a rel="noreferrer" target="_blank" href="https://stunning-phoenix-180456.netlify.app/">Mohammad Izan Ansari</a>
    </div>
    </div>
  </footer>
  <script src="../controller/index.js"></script>
</body>

</html>