<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Case Study of Weather App</title>
  <meta name="description" content="Case study page of Project" />

  <link rel="stylesheet" href="../css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header class="header">
    <div class="header__content">
      <div class="header__logo-container">
        <div class="header__logo-img-cont">
          <img src="../assets/jpeg/izan 0.2.jpg" alt="Ram Maheshwari Logo Image" class="header__logo-img" />
        </div>
        <span class="header__logo-sub">Mohammad Izan Ansari</span>
      </div>
      <div class="header__main">
        <ul class="header__links">
          <li class="header__link-wrapper">
            <a href="../index.html" class="header__link"> Home </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#about" class="header__link">About </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#projects" class="header__link">
              Projects
            </a>
          </li>
          <li class="header__link-wrapper">
            <a href="../index.html#contact" class="header__link"> Contact </a>
          </li>
        </ul>
        <div class="header__main-ham-menu-cont">
          <img src="../assets/svg/ham-menu.svg" alt="hamburger menu" class="header__main-ham-menu" />
          <img src="../assets/svg/ham-menu-close.svg" alt="hamburger menu close"
            class="header__main-ham-menu-close d-none" />
        </div>
      </div>
    </div>
    <div class="header__sm-menu">
      <div class="header__sm-menu-content">
        <ul class="header__sm-menu-links">
          <li class="header__sm-menu-link">
            <a href="../index.html"> Home </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#about"> About </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#projects"> Projects </a>
          </li>

          <li class="header__sm-menu-link">
            <a href="../index.html#contact"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Weather App</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          Accessing climate reports is possible by retrieving data from the <strong> OpenWeatherMap API, </strong>
              which can be found at the following link: <strong> https://openweathermap.org/api.</strong>
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://venerable-bavarois-bae73b.netlify.app/" class="btn btn--bg" target="_blank">Live Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="../assets/jpeg/WEATHER 01.jpg" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h3 class="project-details__content-title">Project Overview</h3>
            <p class="project-details__desc-para">
              Leveraging the capabilities of the <a href="https://openweathermap.org/api" target="_blank"><strong>OpenWeatherMap API</strong></a>, I seamlessly integrated a feature that allows users to fetch real-time <strong>climate reports</strong>. Through this API, users can obtain comprehensive <strong>weather information</strong>, providing a detailed snapshot of the current weather conditions.
            
              Going beyond basic weather details, the platform offers a unique and interactive experience by showcasing real-time weather updates alongside the <strong>longitude</strong> and <strong>latitude</strong> of the user's location. This not only enhances the user interface but also adds a layer of precision to the <strong>weather information</strong> provided.
            
              A standout feature of the system is its ability to display an extensive <strong>Five Days Forecast report</strong> for any searched city. This comprehensive report includes detailed insights such as <strong>temperature</strong> variations, <strong>humidity</strong> levels, <strong>sunrise</strong> and <strong>sunset</strong> times, <strong>sea-level</strong> information, <strong>wind speed</strong>, and much more. Users can stay well-informed with up-to-date <strong>weather forecasts</strong>, making it a valuable tool for planning and decision-making.
            
            </p>
            
            <p class="project-details__desc-para">
              In addition to the real-time updates, the platform ensures a user-friendly experience by presenting the <strong>weather details</strong> in a clear and organized format. The <strong>Five Days Forecast report</strong> provides users with a holistic view of the expected <strong>weather conditions</strong>, empowering them to plan their activities effectively.
            
              The <strong>weather data</strong> is not just limited to basic information; it includes a wealth of details such as <strong>date</strong> and <strong>time</strong> stamps, ensuring users have access to the most accurate and relevant information. This attention to detail enhances the platform's utility and establishes it as a reliable source for <strong>weather-related insights</strong>.
            
              In summary, the integration of the <a href="https://openweathermap.org/api" target="_blank"><strong>OpenWeatherMap API</strong></a> enriches the platform, offering users a seamless and informative experience with real-time <strong>weather updates</strong>, <strong>longitude</strong> and <strong>latitude</strong> information, and a detailed <strong>Five Days Forecast report</strong>. This feature-packed <strong>weather service</strong> caters to users' needs for accurate, timely, and comprehensive <strong>weather information</strong>.
            </p>
            
            
            
          </div>
          <div class="project-details__tools-used">
            <h3 class="project-details__content-title">Tools Used</h3>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">Advanced JavaScript</div>
              <div class="skills__skill">React</div>
              <div class="skills__skill">SASS</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">API</div>
              <div class="skills__skill">Netlify</div>
              <div class="skills__skill">Aws Server</div>
              <div class="skills__skill">Libaries</div>
              <div class="skills__skill">https://openweathermap.org/api.</div>
            </div>
          </div>
          <div class="project-details__links">
            <h3 class="project-details__content-title">See Live</h3>
            <a href="https://venerable-bavarois-bae73b.netlify.app/" class="btn btn--med btn--theme project-details__links-btn" target="_blank">Live Link</a>
            <a href="https://github.com/IzanAnsari/Weather-App" class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">Code Link</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="main-container">
      <div class="main-footer__upper">
        <div class="main-footer__row main-footer__row-1">
          <h2 class="heading heading-sm main-footer__heading-sm">
            <span>Social</span>
          </h2>
          <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/izan-ansari-a25b27254/">
              <img class="main-footer__icon" src="../assets/png/linkedin-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://github.com/IzanAnsari/">
              <img class="main-footer__icon" src="../assets/png/github-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img class="main-footer__icon" src="../assets/png/twitter-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img class="main-footer__icon" src="../assets/png/yt-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://www.instagram.com/izaanstark7/?next=%2F">
              <img class="main-footer__icon main-footer__icon--mr-none" src="../assets/png/insta-ico.png" alt="icon" />
            </a>
          </div>
        </div>
        <div class="main-footer__row main-footer__row-2">
          <h4 class="heading heading-sm text-lt">Mohammad Izan Ansari</h4>
          <p class="main-footer__short-desc">
            As a MERN stack developer, I specialize in creating dynamic and responsive web applications and efficient
            user experiences.
          </p>
        </div>
      </div>
      
    </div>

    <div class="main-footer__lower">
      &copy; Copyright 2021. Made by
      <a rel="noreferrer" target="_blank" href="https://stunning-phoenix-180456.netlify.app/">Mohammad Izan Ansari</a>
    </div>
    </div>
  </footer>
  <script src="../controller/index.js"></script>
</body>

</html>